header .popover{
    position: fixed;
    min-width: 500px;
}
.popover .cart_line{
    margin: 0 0 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px #d3d3d3;
}
.popover .col-xs-3{
    padding-left: 0;
}
.cart-content{
    display: none;
}
.popover .items{
    max-height: 300px;
    overflow: auto;
}
.btn.btn-default{
    border-radius: 0;
    background: black;
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}
ul.wizard li .chevron {
    position: absolute;
    top: 0;
    right: -10px;
    z-index: 1;
    display: block;
    border: 20px solid transparent;
    border-right: 0;
    border-left: 10px solid #d4d4d4;
}
ul.wizard {
    padding: 0;
    margin-top: 20px;
    list-style: none outside none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
ul.wizard li:first-child {
    padding-left: 15px;
    border-radius: 4px 0 0 4px;
}
ul.wizard li {
    border: 1px solid #d4d4d4;
    border-right-width: 0;
    position: relative;
    float: left;
    padding: 0 10px 0 20px;
    margin: 0;
    line-height: 38px;
    background: #fbfbfb;
}
.oe_website_sale ul.wizard li.text-primary {
    color: black;
    font-weight: 500;
    background-color: transparent;
}
.oe_website_sale ul.wizard li .chevron:before, .oe_website_sale ul.wizard li.text-primary .chevron:before {
    border-left: 10px solid #ffffff;
}
ul.wizard li .chevron:before {
    position: absolute;
    top: -20px;
    right: 1px;
    display: block;
    border: 20px solid transparent;
    border-right: 0;
    border-left: 10px solid #fbfbfb;
    content: "";
}
.text-muted{
    display: block;
}
table a{
    color: black;
}
.count-error{
    display: none;
    position: absolute;
    width: 100%;
    top: 35px;
    left: 0;
}
.info{
    margin-top: 25px;
}
#order_total {
    margin-top: 40px;
}
.sel-color-cart {
    margin-top: 15px;
}

.sel-color-cart * {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.sel-color-cart > div {
    vertical-align: top;
    text-align: center;
    position: relative;
}
.sel-color-cart .selected{
    border: 1px solid black;
}
.sel-color-cart .selected:before{
    display: block;
    width: 100%;
    content: "";
    height: 2px;
    background: red;
    top: -5px;
    position: absolute;
}
@media (max-width: 520px) {
    header .popover{
        min-width: 300px !important;
    }

}
@media (max-width: 578px) {
    .d-image{
        display: none;
    }
    #cart_products{
        display: inline;
    }
    #cart_products thead{
        display: none;
    }
    #cart_products tr{
        width: 100% !important;
        display: inline-block;
    }
    #cart_products td:not(.d-image){
        float: left;
        width: 100% !important;
        display: inline-block;
    }
    #cart_products td:last-child, #cart_products td:nth-last-child(2){
        width: 50% !important;
        height: 46px;
        text-align: center;
    }
}