.container {
    max-width: 1860px;
    width: 90%;
}

body {
    min-width: 320px;
}
header{
    margin-bottom: 40px;
}
.wrap.content {
    display: none;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.wrap.content .item img {
    width: 100%;
    object-fit: cover;
}

.item {
    position: relative;
}

.item .name {
    height: 0;
    overflow: hidden;
    transition-duration: .5s;
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    text-align: center;
    color: black;
    font-size: 17px;
}

.item a {
    color: black;
}

.item:hover .name {
    height: 28px;
    padding: 3px;
}

.item:hover .price {
    width: 90px;
}

.item .price {
    color: white;
    font-size: 17px;
    text-align: right;
    transition-duration: .5s;
    position: absolute;
    right: 0;
    white-space: nowrap;
    top: 35px;
    overflow: hidden;
    width: 0;
    background: #3c3c3c;
    border-bottom: 1px white solid;
    border-top: 1px white solid;
    text-align: center;
}

.item .price.new {
    top: 60px;
}
.item .price.discount {
    text-decoration: line-through;
    font-size: 13px;
}
.item:hover .price.discount {
    width: 60px;
}

.title {
    color: #3c3c3c;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 75px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title a{
    transition-duration: .2s;
    text-decoration: none;
}
.title a:hover{
    font-size: 16px;
}

.title h1 {
    font-size: 20px;
}
.title p{
    float: right;
}
.response-wrap{
    display: none;
}

.response {
    width: 100%;
    margin: 25px auto 50px;
    display: flex;
}
.testimonials{
    /*column-count: 3;*/
    /*column-gap: 25px;*/
    display: flex;
}
.hide {
    display: none !important;
}
.testimonials .item{
    vertical-align: top;
    display: inline-block;
    margin-bottom: 70px;
    position: relative;
    width: 32%;
    height: 100%;
}
.testimonials .item:target .text{
    background: #ffe100;
    animation: item-target 1000ms ease-in 1000ms forwards;
}
@keyframes item-target {
    to {background-color: transparent;}
}
.testimonials .item:first-child{
    margin-right: 25px;
}
.testimonials .item .date{
    position: absolute;
    left: 0;
    margin-top: 2em;
}
.response .item {
    width: 50%;
    display: flex;
    float: left;
}

.response .item img {
    min-width: 190px;
    width: 100%;
    object-fit: cover;
}
.testimonials .item img {
    width: 100%;
    object-fit: cover;
}
.response .item .product {
    width: 190px;
    margin-right: 10px;
}

.response .item:first-child {
    margin-right: 50px;
}

.response .item .text {
    text-align: left;
    font-style: italic;
    width: 100%;
    margin-top: 5px;
}
.response .item .text a{
    text-decoration: none;
}

.response .item big {
    font-size: 23px;
    font-weight: bold;
    font-family: arial;
    line-height: 0;
}
.slider * {
    outline: none;
}

.slider {
    margin-top: 50px;
    overflow: hidden;
}

.slider img {
    width: 100%;
}

.slider .slick-slide:not(.slick-current) {
    opacity: 0.5;
}

.slider .slick-slide {
    margin-left: 5px;
    margin-right: 5px;
}

.slider .slick-arrow {
    z-index: 999;
    top: 40%;
}

.content .slick-list, .testimonials .slick-list {
    height: 100% !important;
}
.content .slick-track, .testimonials .slick-track{
    height: 100%;
}

.slider .slick-arrow img {
    width: auto;
}

#next {
    position: absolute;
    right: 0;
    margin-right: 10%;
}

#back {
    position: absolute;
    left: 0;
    margin-left: 10%;
}

.from {
    position: absolute;
    right: 0;
    margin-top: 2em;
}

.response .date {
    display: block;
}

.item-glr {
    width: 100%;
    height: 100%;
    z-index: -1;
}
.connection button{
    height: 40px;
    width: 400px;
}
.connection .form-group{
    width: 100%;
}
.prices-glr{
    max-width: 200px;
}
.prices-glr *{
    width: 100%;
}
.prices-table img{
    max-width: 200px;
}
.prices-table td {
    position: relative;
}
table.prices-table td:first-child{
    padding: 0;
}
table.prices-table th{
    vertical-align: top !important;
    border-bottom: none !important;
}
.prices-table td .name{
    overflow: hidden;
    position: absolute;
    transition-duration: .5s;
    bottom: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.6);
    width: 200px;
    text-align: center;
    color: black;
    font-size: 15px;
}
.prices-table td:hover .name {
    height: 28px;
    padding: 3px;
}
@media (max-width: 749px) {
    .prices-table{
        overflow: auto;
        display: block;
    }
}
@media (max-width: 768px) {
    .wrap.content {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .item .price {
        width: 70px;
    }
    .prices-table td .name {
        height: 28px;
        padding: 3px;
    }
    .item .name {
        height: 28px;
        padding: 3px;
    }
    .testimonials{
        display: block;
    }
    .testimonials .item{
        width: 47%;
    }
}
.load{
    text-align: center;
}
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    margin-top: 100px;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #cef;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}

.main-container{
    width: 100%;
    padding-top:25px;
    text-align:left;
}
.main-container h3{
    font-style: italic;
    color: darkred;
}

.connection{
    position: relative;
    width: 100%;

}
.connection textarea{
    margin-top: 6px;
    height: 11.7em;
    background-color: whitesmoke;
    color: black;
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 3px;
    width: 100%;
    resize: none;
    border: none;
    text-indent: 1em;
    line-height: 40px;
}
.connection * {
    color: snow;
}
.connection button{
    color: darkgrey;
    border-radius: 3px;
    margin-bottom: 50px;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 20%;
    border: none;
}
.connection input{
    height: 40px;
    width: 400px;
    margin: 7px 0;
    background-color: whitesmoke;
    border: none;
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 3px;
    color: black;
    text-indent: 1em;
}
input#paymentanddeliveryform-phone {
    text-indent: 2em;
}
.connection .info{
    margin-right: 10px;
}
.d-flex{
    display: flex;
}
@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 51px;
    }
    50%, 100% {
        top: 19px;
        height: 26px;
    }
}
@media (max-width: 569px){
    .testimonials .item{
        width: 100%;
        margin-right: 0;
    }
}
@media (max-width: 670px) {
    .item .name {
        height: 0;
        padding: 0;
    }
    .item .price{
        width: 0;
    }
    .item:hover .price{
        width: 0;
    }

    .item:hover .name {
        height: 0;
        padding: 0;
    }
    .connection button{
        width: 100%;
    }
}
@media (max-width: 425px) {
    .wrap .container .response {
        display: block;
    }
    .container{
        width: 100%;
    }
    .wrap.content {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .title{
        display: block;
        text-align: center;
    }
    .title a{
        display: block;
        margin-top: 10px;
    }
}

@media (max-width: 320px) {
    .wrap.content {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
@media (max-width: 990px) {
    .from {
        margin-top: 3.5em;
    }
}
@media (max-width: 945px) {
    .response {
        display: block;
    }
    .d-flex{
        display: block;
    }
    .d-flex .info input{
        width: 100%;
    }
    .d-flex textarea{
        margin-left: 0;
    }

    .response .item{
        display: block;
    }

    .response .item .text {
        font-size: 12px;
    }

    .response .item {
        width: 100%;
        margin-bottom: 50px;
    }
}