@font-face {
    font-family: 'PoiretOne-Regular';
    src: url('/fonts/PoiretOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FiraSans-Light';
    src: url('/fonts/FiraSans-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
html body *{
    font-family: FiraSans-Light;
}
.dropdown:hover ul {
    display: block !important;
}

.navbar * {
    color: black;
    font-size: 17px;
}

.row {
    margin-top: 25px;
}

ul .dropdown-header {
    padding: 3px 14px;
}

.navbar-nav.navbar-left.nav {
    margin-left: 50px;
}

.navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 7px;
}
.navbar-header{
    width: 205px;
    margin-top: 7px;
}
.navbar-brand{
    padding: 0;
    margin: 0!important;
}
.navbar-brand img{
    width: 100%;
    padding-bottom: 5px;
}


.dropdown-toggle {
    padding: 2px;
}

.navbar-nav * {
    font-size: 17px;
}

.navbar-toggle {
    display: none;
}

.navbar.navbar-fixed-top {
    background: white;
    height: 90px;
}

.navbar.navbar-fixed-top .container {
    margin-top: 20px;
}
.nav-menu .caret {
    display: none;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #f5f5f5;
}
.cart-button:hover a, .cart-button:focus a, .cart-button:not(:hover) a{
    background: transparent !important;
}
.cart.open{
    opacity: 1;
}
ul .social a {
    padding: 5px;
    margin-top: 12px;
}

ul .social.disabled i {
    color: gray;
}
ul .social.disabled a{
    cursor: not-allowed;
}

ul .social.inst i {
    color: orange;
}

ul .social.face i {
    color: dodgerblue;
}

ul .social.pin i {
    color: red;
}

ul .social.etsy i {
    color: orange;
}

footer {
    background-color: #fafafa;
}

footer .links ul {
    width: 135px;
}

footer .links li a {
    transition-duration: .2s;
}

footer .links li {
    list-style: none;
    margin-bottom: 7px;
}

footer .links a {
    color: black;
    text-decoration: none;
}

footer .links ul {
    padding: 0;
}

footer .rights {
    font-style: italic;
    text-align: center;
    display: block;
}

footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

footer *:not(.footer-social li){
    font-family: Roboto-Light;
    font-size: 14px;
}

footer .wrap {
    justify-content: space-around;
    display: flex;
}

footer .links li:hover a {
    font-size: 16px;
}

footer .social:hover {
    font-size: 32px;
}

footer .social {
    width: 40px;
    height: 45px;
    padding: 0;
}

footer > div {
    display: inline-block;
    vertical-align: text-top;
}

.footer-subscribe input {
    width: 84%;
    border: none;
    background: #cbcbcb;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #404040;
    text-indent: 10px;
}

.footer-subtitle {
    margin-bottom: 10px;
}

.footer-subscribe input::placeholder {
    color: #404040;
}

.footer-subscribe button {
    width: 13.7%;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    background: #333333;
    color: white;
}

.footer-social span {
    display: block;
    margin-bottom: 5px;
}

.footer-social li {
    display: inline-block;
    list-style: none;
    font-size: 30px;
    vertical-align: middle;
}

.footer-social .social:first-child a {
    padding-left: 0;
}

.footer-social ul {
    padding: 0;
}

.mobile-nav * {
    color: black;
    font-size: 15px;
}

.mobile-nav h2 {
    font-size: 25px;
}

.mobile-nav .wrap .navbar-title {
    margin-left: 35px;
}

.mobile-nav .wrap ul li {
    text-indent: 25px;
}

.mobile-nav .wrap ul li.head {
    color: #a5a5a5;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.footer-social a {
    color: black;
    transition-duration: .2s;
}

.mobile-nav {
    transition-duration: .5s;
    position: fixed;
    right: -17px;
    width: 0;
    height: 100%;
    z-index: 9999;
    background: white;
    overflow-y: auto;
    overflow-x: hidden;
}

.mobile-nav .close {
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
}

.mobile-nav .close i {
    font-size: 22px;
    padding: 15px;
}

.eclipse {
    z-index: 9998;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

.search-form {
    transition-duration: .5s;
    display: flex;
    position: fixed;
    z-index: 9999;
    right: 13%;
    top: 26px;
    width: 0;
    overflow: hidden;
}

.search-form.fshow {
    width: 500px;
    right: 6%;
}

.search-form * {
    border: none;
    background: #e6e6e6;
    padding: 5px;
}

.search-form input::placeholder {
    color: #bcbcbc;
}

.search-form input {
    width: 100%;
}

.hide-scrollbar ::-webkit-scrollbar {
    opacity: 0;
}

footer .footer-contact p:nth-child(odd) {
    margin-bottom: 2px;
}
footer .wrap{
    min-height: unset;
}
footer .footer-contact p:nth-child(2n) {
    font-size: 18px;
}

.footer-subscribe {
    max-width: 325px;
}
.subscribe-modal .subscribe-modal-body{
    padding: 20px;
    font-size: 17px;
}
.subscribe-modal.error *{
    color: red;
}
.subscribe-modal.success *{
    font-size: 19px;
    color: #93d625;
}
.disabled a i{
    color: #9c9c9c;
}
@media (max-width: 425px) {
    html body header .search-form.fshow {
        width: 87.5%;
    }

    html body header .search-form {
        right: 23%;
    }
}

@media (max-width: 590px) {
    body header .search-form.fshow {
        width: 200px;
    }
    body header .search-form{
        right: 28%;
    }
}
@media (max-width: 1000px) {
    .navbar-nav .contact-nav{
        display: none;
    }
    .navbar-nav.navbar-left.nav{
        margin-left: 20px;
    }
}
@media (max-width: 818px) {
    .navbar-nav .social{
        display: none;
    }
}
@media (max-width: 991px) {
    header .search-form{
        right: 17%;
    }

    .collapse.navbar-collapse {
        display: inline-block;
    }

    .nav.navbar-right > li {
        display: inline-block;
    }

    .navbar-header {
        display: inline-block;
    }
}

@media (max-width: 400px) {
    .hidable1 {
        display: none !important;
    }
}

@media (max-width: 350px) {
    .hidable2 {
        display: none !important;
    }
}

@media (max-width: 1289px) {
    ul li.payndelivery {
        display: none;
    }
}

@media (max-width: 1101px) {
    ul li.about-as {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar-right {
        margin-top: 0;
        float: right !important;
        margin-right: -15px;
    }
    .collapse.navbar-collapse{
        float: right;
    }
    .navbar-nav.navbar-left.nav{
        margin: 0;
    }
    .navbar-nav .nav-menu{
        display: none;
    }
    .navbar-brand{
        padding: 10px 15px;
    }
    .navbar-header{
        margin-top: 0px;
    }
    header .search-form.fshow {
        width: 350px;
    }

}

@media (max-width: 944px) {
    footer .links {
        display: none;
    }

    footer .wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        width: 95%;
    }

    .footer-subscribe .footer-input {
        width: 70%;
    }

    .footer-subtitle {
        font-size: 12px;
    }

    footer .footer-contact {
        grid-area: 1/2;
    }
}

@media (max-width: 749px) {
    footer {
        background-color: #efefef;
    }
    header .search-form {
        right: 23%;
    }
    footer .wrap {
        display: block !important;
    }

    .footer-subscribe .footer-input {
        width: 84%;
    }

    .footer-group-subscribe {
        display: inline-block;
    }

    footer .wrap > div {
        margin-bottom: 20px;
    }

    footer .rights {
        font-size: 11px;
    }

    footer .footer-social .social {
        font-size: 23px;
    }
}