@font-face {
    font-family: 'roboto_light';
    src: url('/fonts/roboto light.ttf');
    font-weight: normal;
    font-style: normal;
}

.logo {
    margin-left: 20px;
}

.discount{
    text-decoration: line-through;
}

header {
    width: 90%;
}

.main {
    display: flex;
    margin-top: 20px;
}

.divider {
    padding-top: 10px;
    width: 100%;
    border-bottom: 1px solid gray;
    clear: both;
}

.slider {
    margin-bottom: 50px;
    margin-top: 40px;
}

.cont-nav {
    margin-left: 200px;
    margin-top: 20px;
}

.cont-nav * {
    font-size: 13px;
    font-family: roboto_light;
    color: gray;
    text-decoration: none;
}

.cont-nav a:hover {
    text-decoration: underline;
}

.galery {
    width: 40%;
    margin-bottom: 20px;
}
.galery *{
    outline: none;
}

.galery img {
    width: 100%;
}

.glr-nav img {
    width: 22.9%;
}

.glr-nav {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}

.galery .slick-initialized .slick-slide {
    height: auto;
}

.slick-slide img {
    width: 100%;
}

.galery .slick-slide {
    opacity: 1;
}

.glr-nav .slick-slide {
    margin-left: 2px;
    margin-right: 2px;
}

.information {
    margin-left: 20px;
    width: 60%;
    font-family: FiraSans-Light;
}

.information h1 {
    color: gray;
    font-weight: 100;
    margin-top: -5px;
    font-family: FiraSans-Light;
    font-weight: bold;
    margin-bottom: 0px;
}
.characteristic_ {
    margin-bottom: 15px;
}
.characteristic_ > div{
    display: flex;
    font-size: 14px;
    padding-bottom: 5px;
}
.characteristic_ strong {
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
}
.characteristic_ > div > div:first-child{
    display: inline-block;
    min-width: 25vw;
}
.characteristic_ div span {
    background: white;
}
.characteristic_ > div > div{
    background: url("/img/dot.png") repeat-x 0px 11px;
}
.detalization{
    display: block;
    margin-bottom: 20px;
}

.slick-dots li button:before {
    font-size: 10px !important;
    line-height: 20px !important;
}

.information > * {
    margin-left: 15px;
}
.information .description * {
    font-family: FiraSans-Light !important;
}

.sel-color {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sel-color * {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.sel-color > div {
    vertical-align: top;
    text-align: center;
}
.cost {
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 20px;
}

.purchase {
    margin-top: 5px;
    margin-bottom: 15px;
}
.purchase form{
    display: inline-block;
}
.purchase .count-input {
    width: 50px;
    height: 30px;
    border-radius: 2px;
    border: solid 1px #c6c4c4;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 10px;
}
.purchase .count{
    display: inline-block;
}
.purchase .count.has-error{
    display: block;
}
.purchase .button {
    border: none;
    background: #a81212;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 2px;
    vertical-align: middle;
    height: 30px;
}
.purchase .cart-add:not(.cart-sel){
    display: block;
    color: black;
    margin: 10px auto 0;
    background: transparent;
}
.select2-selection__rendered{
    color: unset !important;
}
.purchase .cart-sel{
    background: transparent;
    color: black;
    font-size: 20px;
    padding: 5px 10px;
    vertical-align: middle;
    outline: none;
}
.purchase .cart-sel i{
    vertical-align: top;
}
.purchase .submit{
    border: none;
    padding: 5px;
    background: #e8e8e8;
    border-radius: 5px;
    width: 100%;
    height: 35px;
}
#purchaseform-color option:hover {
    box-shadow: 0 0 10px 100px red inset;
}
.select2-selection__arrow{
    background: white !important;
}

.title-scroll {
    color: #b15f32;
    clear: both;
    width: 80%;
    margin: 0 auto;
}

.title-scroll span {
    font-size: 20px;
}

.scroll-wraper {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.scroll figcaption {
    display: inline;
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 100%;
    color: #b15f32;
    line-height: 40px;
    background: rgba(255, 255, 255, 0.8);
    font-weight: bold;
}

.scroll a {
    text-decoration: none;
}

.scroll .item {
    display: inline-block;
    position: relative;
    margin-right: 2px;
    height: 200px;
}

.scroll .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sel-color > div i {
    vertical-align: sub;
    color: white;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    left: 45%;
    margin-top: 20%;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #cef;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 51px;
    }
    50%, 100% {
        top: 19px;
        height: 26px;
    }
}
@media (max-width: 425px) {
    .characteristic_ > div{
        display: block;
    }
    .characteristic_ span:first-child{
        font-weight: bold;
        font-size: 14px;
    }
    .characteristic_ * span{
        display: block;
    }
}
@media (max-width: 1024px) {
    .characteristic_ > div{
        font-size: 12px;
    }
    .characteristic_ > div > div{
        background: url('/img/dot.png') repeat-x 0px 9px;
    }
}
@media (max-width: 983px) {
    .information h1 {
        font-size: 25px;
        margin-top: -3px;
    }
}

@media (max-width: 768px) {
    .main {
        display: block;
    }
    .characteristic_ > div > div:first-child{
        min-width: 70%;
    }
    .information {
        margin: 0;
        width: 100%;
    }

    .galery {
        width: 100%;
    }
}

@media (max-width: 321px) {
    .information h1 {
        font-size: 24px;
    }
}