html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.mce-tinymce.mce-container.mce-panel.mce-fullscreen {
    z-index: 9999;
}

.sp-replacer.sp-krajee {
    width: 40px;
}

.add-color {
    display: flex;
    margin-bottom: 20px;
}

.add-color button {
    margin-left: 5%;
}

.spectrum-group.input-group.input-group-html5.kv-type-text.is-bs3 {
    width: 95%;
}

.selected-colors {
    margin-bottom: 20px;
}

.selected-colors > div {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    vertical-align: top;
    position: relative;
}

.selected-colors > div i {
    vertical-align: middle;
}

.can-close:before {
    content: " ";
    width: 100%;
    position: absolute;
    background: red;
    height: 2px;
    left: 0;
    top: -5px;
}

.file-input.file-input-ajax-new {
    display: none;
}

.file-input {
    margin-bottom: 20px;
}

.file-preview-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.kv-zoom-cache {
    display: none;
}

/*.d-flex{*/
/*display: flex;*/
/*}*/
/*.d-flex.space-between{*/
/*justify-content: space-between;*/
/*}*/
/*.d-flex .form-group{*/
/*width: 45%;*/
/*}*/
/*.characteristic-button{*/
/*height: 100%;*/
/*}*/
/*.d-flex.flex-align-center{*/
/*align-items: center;*/
/*}*/
.characteristic {
    width: 98%;
    margin: 0 auto;
}

.characteristic thead {
    border-bottom: 1px solid #d4d4d4;
}

.characteristic tr {
    vertical-align: top;
}

.sortable.grid.cursor-move {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    display: grid;
}
.sortable.grid.cursor-move img{
    width: 100%;
}